<div class = "row">
  <div class="col-md-6">
    <h2>
      {{ rest.name }} - {{ rest.borough }}
    </h2>
  </div>
  <div class="col-md-3">
  </div>
  <div class="col-md-2">
    <a href="#/"><button style="margin-top:20px" class="btn btn-default" ng-click="">Delete</button></a>
  </div>
  <div class="col-md-1">
  </div>
</div>
<div ng-hide="editMode" class="container">
  <div>
    <p ng-if="rest.address">Address: {{ rest.address.building }} {{ rest.address.street }}, {{ rest.address.zipcode }}</p>
    <p ng-if="rest.cuisine">Cuisine: {{ rest.cuisine }} </p>
    <p ng-if="rest.grades">
      <ul ng-repeat="grade in rest.grades | orderBy:'date'">
        <li>
          Grade: {{ grade.grade }} Score: {{ grade.score }}
        </li>
      </ul>
    </p>
    <p>
      <button style="margin-top:20px" class="btn btn-default" ng-click="">Edit</button>
      <a style="margin-top:20px" class="btn btn-default" href="#/restaurants">Back</a>
    </p>
  </div>
</div>
<!-- Contact form -->
<div ng-include="contactFormUrl">
</div>
